$color1: #009bbd;
$color2: #fda900;
$color3: #656565;
$color4: #fff;
$color5: #999;
$color6: #3d3d3d;
$color7: #aacd06;
$color8: #1c283b;
$color9: #82c9e8;
$color10: #707475;
$color11: #808080;

$width1:1px;

$long:3rem;

$rgba1: rgba(0, 155, 221, 0.4);
$rgba2: rgba(0, 0, 0, 0.5);
$rgba3: rgba(233, 233, 189, 0.7);
$rgba4: rgba(217, 228, 231, 0.7);
$rgba5: rgba(215, 235, 243, 0.5);

$radius5: 5px;
$radius10: 10px;
$radius20: 20px;