<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="renderer" content="webkit">
  <title></title>
  <link rel="stylesheet" href="css/css_lib/swiper.css">
  <link rel="stylesheet" href="css/css_lib/animate.min.css">
  <link rel="stylesheet" href="css/main.css">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="jslib/html5shiv.js"></script>
  <script src="jslib/respond.js"></script>
  <![endif]-->
  <script type="text/javascript">
    GVR = {
      URL: {},
      SWIPER: {},
      JSON: {},
      INTERVAL: {}
    };
  </script>
</head>
<body>
  <div class="swiper-container" url="/ydh5/gethosinfo" id="init-url">
    <div class="swiper-wrapper">
      <div class="swiper-slide home_page">
        <div class="position-absolute">
          <div class="home-time ani" swiper-animate-effect="bounceInLeft" swiper-animate-duration="1s" swiper-animate-delay="1s">2016</div>
          <div class="home-report ani" swiper-animate-effect="bounceInRight" swiper-animate-duration="1s" swiper-animate-delay="1.5s">年度报告</div>
          <div class="home-name ani" id="hospitalName" swiper-animate-effect="fadeInUp" swiper-animate-duration="1s" swiper-animate-delay="2s"></div>
          <div class="home-theme ani" swiper-animate-effect="zoomIn" swiper-animate-duration="1s" swiper-animate-delay="2.5s">[ 设备篇 ]</div>
          <div class="bottom_slyx_log" >
            <img src="images/slyx_log.png" class="ani" alt="" swiper-animate-effect="zoomInUp" swiper-animate-duration="1s" swiper-animate-delay="3s">
          </div>
          <div class="home-back ani" swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s"></div>
          <div class="home-line ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.4s" swiper-animate-delay="0.5s"></div>
        </div>
      </div>
      <div class="swiper-slide time-axle">
        <div class="position-absolute">
          <div class="time-icon ani" swiper-animate-effect="slideInDown" swiper-animate-duration="0.3s" swiper-animate-delay="0s">
            <img src="images/time-icon.png" alt="">
          </div>
          <div class="radius_animate radius_1 ani" swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s"></div>
          <div class="radius_animate radius_2 ani" swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s"></div>
          <div class="radius_animate radius_3 ani" swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s"></div>
          <div class="radius_4 ani" swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s"></div>
          <div class="min-radius-1 min-radius ani" swiper-animate-effect="zoomIn" swiper-animate-duration="0.2s" swiper-animate-delay="1s"></div>
          <div class="min-radius-2 min-radius ani" swiper-animate-effect="zoomIn" swiper-animate-duration="0.2s" swiper-animate-delay="2s"></div>
          <div class="min-radius-3 min-radius ani" swiper-animate-effect="zoomIn" swiper-animate-duration="0.2s" swiper-animate-delay="3s"></div>
          <div class="min-radius-line min-radius-line1" style="width: 0"></div>
          <div class="min-radius-line min-radius-line2" style="width: 0"></div>
          <div id="time_tpl_html">

          </div>
          <div class="by-bottom">
            <div class="display-middle by-line"></div>
            <div class="display-middle by-text">by 数联医信</div>
          </div>
        </div>
      </div>
      <div class="swiper-slide standing-book">
        <div class="position-absolute">
          <div class="standing-content">
            <div class="standing-content">
              <div class="standing-value ani" swiper-animate-effect="rotateInDownLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
                您通过医信云服完成了<span class="standing-bold" id="numberEquipment"></span>台设备盘点,估值达
                <span class="standing-bold" id="valueEquipment"></span>
              </div>
              <div class="hoop-content">
                <div class="hoop-box">
                  <div class="table hoop-value-text ani" swiper-animate-effect="flash" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">
                    <div class="table-cell">100%</div>
                  </div>
                  @@include('./toop_outer.html', {
                  "num": 16,
                  "nav":"outer"
                  })
                  @@include('./toop_outer.html', {
                  "num": 16,
                  "nav":"inside"
                  })
                </div>
                <div class="standing-exact ani" swiper-animate-effect="rotateInUpRight" swiper-animate-duration="0.3s" swiper-animate-delay="1s">
                  <span class="exact-text">台帐</span> 准确率
                </div>
              </div>
              <div class="standing-value standing-value2 ani" swiper-animate-effect="rotateInUpRight" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
                其中<span class="standing-bold">Ⅱ、Ⅲ类医疗器械</span>云台帐准确率提升至<span class="standing-bold">100%</span>,
                高于行业平均水平。
              </div>
              <div class="standing-detail-img ani" swiper-animate-effect="zoomInLeft" swiper-animate-duration="0.4s" swiper-animate-delay="1.5s">
                <img src="images/standing-detail-img.png" alt="">
              </div>
              <div class="cogradient-text ani" swiper-animate-effect="wobble" swiper-animate-duration="0.5s" swiper-animate-delay="2s">多科室 同步盘点</div>
            </div>
          </div>
          <div class="by-bottom">
            <div class="display-middle by-line"></div>
            <div class="display-middle by-text">by 数联医信</div>
          </div>
        </div>
      </div>
      <div class="swiper-slide technical-ranking">
        <div class="position-absolute">
          <div class="technical-alert ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0s">设备关注度最高,反应最快</div>
          <div class="top-ranking ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.5s" swiper-animate-delay="0s">TOP 3 科室</div>
          <div class="cup-box">
            <div class="cup-tower ani" swiper-animate-effect="slideInUp" swiper-animate-duration="0.3s" swiper-animate-delay="0.5s"></div>
            <div class="cup-bar ani" swiper-animate-effect="slideInUp" swiper-animate-duration="0.6s" swiper-animate-delay="0.8s"></div>
            <div class="award1 award-icon ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.2s" swiper-animate-delay="2.4s"></div>
            <div class="award2 award-icon ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.2s" swiper-animate-delay="2.2s"></div>
            <div class="award3 award-icon ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.2s" swiper-animate-delay="2s"></div>
            <div class="technical-num technical-num1 ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.2s" swiper-animate-delay="1.8s">1</div>
            <div class="technical-num technical-num2 ani" swiper-animate-effect="zoomInRight" swiper-animate-duration="0.2s" swiper-animate-delay="1.6s">2</div>
            <div class="technical-num technical-num3 ani" swiper-animate-effect="zoomInLeft" swiper-animate-duration="0.2s" swiper-animate-delay="1.4s">3</div>
            <div id="technical_tpl_html"></div>
          </div>
          <div class="technical-chapter chapter-icon">
            <img src="images/technical-chapter.png" alt="">
          </div>
          <div class="by-bottom">
            <div class="display-middle by-line"></div>
            <div class="display-middle by-text">by 数联医信</div>
          </div>
        </div>
      </div>
      <div class="swiper-slide triunity-slide">
        <div class="position-absolute">
          <div class="text-right">
            <div class="title-icon display-middle ani" swiper-animate-effect="flipInX" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
              <div class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">已有设备管理渠道</div>
            </div>
          </div>
          <div id="use_mac_html"></div>
          <div class="img-yun-box">
            <div class="yun_line_img yun_absolute ani" swiper-animate-effect="zoomIn" swiper-animate-duration="0.3s" swiper-animate-delay="1.8s"></div>
            <div class="yun_img yun_absolute ani" swiper-animate-effect="zoomIn" swiper-animate-duration="0.3s" swiper-animate-delay="2s"></div>
            <div class="imac_img yun_absolute ani" swiper-animate-effect="zoomIn" swiper-animate-duration="0.3s" swiper-animate-delay="2.2s"></div>
            <div class="iPhone_img yun_absolute ani" swiper-animate-effect="zoomIn" swiper-animate-duration="0.3s" swiper-animate-delay="2.4s"></div>
            <div id="mac_img_html"></div>
          </div>
          <div class="bottom-triunity"></div>
          <div class="by-bottom">
            <div class="display-middle by-line"></div>
            <div class="display-middle by-text">by 数联医信</div>
          </div>
        </div>
      </div>
      <div class="swiper-slide device-ranking">
        <div class="position-absolute">
          <div class="device-order">
            <div class="device-middle-line ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.2s" swiper-animate-delay="0s"></div>
            <div>
              <div class="display-middle half-width">
                <div class="rank-title ani" swiper-animate-effect="rotateInDownLeft" swiper-animate-duration="0.3s" swiper-animate-delay="0.5s">设备可用率</div>
                <div class="rank-explain ani" swiper-animate-effect="bounceInLeft" swiper-animate-duration="0.3s" swiper-animate-delay="0.7s">TOP3 设备</div>
              </div>
              <div class="display-middle half-width">
                <div class="rank-title ani" swiper-animate-effect="rotateInDownRight" swiper-animate-duration="0.3s" swiper-animate-delay="1.6s">及时修复率</div>
                <div class="rank-explain ani" swiper-animate-effect="bounceInRight" swiper-animate-duration="0.3s" swiper-animate-delay="1.8s">TOP3 科室</div>
              </div>
            </div>
            <div id="device-section"></div>
          </div>
          <div class="device-summing ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.3s" swiper-animate-delay="2.6s">
            <div class="summing-head margin-top"></div>
            <div class="summing-content">
              <div class="save-line ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.2s" swiper-animate-delay="2.9s">2016年累计节约<span class="save-time" ><span id="saveTime"></span>小时</span>维修时间</div>
              <div class="save-border ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.2s" swiper-animate-delay="3.1s"></div>
              <div class="device-status ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.2s" swiper-animate-delay="3.3s">设备正常运转</div>
              <div class="status-text ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.2s" swiper-animate-delay="3.5s">为保证患者生命质量提供最及时支持</div>
            </div>
            <div class="summing-rotate summing-head"></div>
          </div>
          <div class="by-bottom">
            <div class="display-middle by-line"></div>
            <div class="display-middle by-text">by 数联医信</div>
          </div>
        </div>
      </div>
      <div class="swiper-slide device-diary">
        <div class="position-absolute">
          <div class="title ani" swiper-animate-effect="bounceInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0s">设备科的日记</div>
          <div id="device-diary-html">

          </div>
          <div class="by-bottom">
            <div class="display-middle by-line"></div>
            <div class="display-middle by-text">by 数联医信</div>
          </div>
        </div>
      </div>
      <div class="swiper-slide star_worker">
        <div class="position-absolute">
          <div class="worker-content">
          </div>
          <div class="chapter-icon diary-chapter">
            <img src="images/worker_chapter.png" alt="">
          </div>
          <div class="by-bottom">
            <div class="display-middle by-line"></div>
            <div class="display-middle by-text">by 数联医信</div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="position-absolute">
          <div class="slyx-log qrcode-slyx-log ani" swiper-animate-effect="bounceInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
            <img src="images/slyx_log.png" alt="">
          </div>
          <div class="qrcode-box">
            <div class="alert-top-left ani" swiper-animate-effect="shake" swiper-animate-duration="0.3s" swiper-animate-delay="0.7s"></div>
            <div class="alert-top-right ani" swiper-animate-effect="shake" swiper-animate-duration="0.3s" swiper-animate-delay="0.7s"></div>
            <div class="alert-bottom-left ani" swiper-animate-effect="shake" swiper-animate-duration="0.3s" swiper-animate-delay="0.7s"></div>
            <div class="alert-bottom-right ani" swiper-animate-effect="shake" swiper-animate-duration="0.3s" swiper-animate-delay="0.7s"></div>
            <img src="images/ewm.png" alt="" class="ani" swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">
          </div>
          <div class="help-text qrcode-text ani" swiper-animate-effect="flipInX" swiper-animate-duration="0.5s" swiper-animate-delay="1s">*长按二维码，关注医信云服</div>
          <div class="thanks-text ani" swiper-animate-effect="slideInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="1.5s">
            目前数联医信已覆盖<span class="">19</span>个省份，
          </div>
          <div class="thanks-text ani" swiper-animate-effect="slideInRight" swiper-animate-duration="0.5s" swiper-animate-delay="1.5s">
            服务<span class="">三百</span>余家客户。
          </div>
          <div class="thanks-text ani" swiper-animate-effect="slideInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="1.5s">
            2016感谢有您。</div>
          <button class="apply_yxyf apply-btn share-btn common-btn ani" id="apply-btn" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="2s">
            申请试用<span class="yxyf">医信云服</span>
          </button>
          <div class="reset-share-box">
            <button class="share-btn common-btn display-middle reset-btn again_play ani" swiper-animate-effect="bounceInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="2s">重播</button>
            <button class="share-btn common-btn display-middle my-share ani" id="my-share" swiper-animate-effect="bounceInRight" swiper-animate-duration="0.5s" swiper-animate-delay="2s">
              <i class="share-icon display-middle">
                <img src="images/share-icon.png" alt="">
              </i>
              <span class="display-middle">我要分享</span>
            </button>
          </div>
          <div class="help-text qrcode-text work-email ani" swiper-animate-effect="flipInX" swiper-animate-duration="0.5s" swiper-animate-delay="2.5s">
            工作邮箱:vip@shulianyixin.com
          </div>
          <div class="by-bottom">
            <div class="display-middle by-line"></div>
            <div class="display-middle by-text">by 数联医信</div>
          </div>
        </div>
      </div>
    </div>
    <div class="apply_success" id="apply_success">
      <div class="apply_page ">
        <div class="position-absolute">
          <div class="slyx-log qrcode-slyx-log success_alert">
          <span class="display-middle success_icon">
            <img src="images/success_icon.png" alt="">
          </span>
            <span class="display-middle">信息提交成功</span>
          </div>
          <div class="qrcode-box success-qrcode">
            <div class="alert-top-left"></div>
            <div class="alert-top-right"></div>
            <div class="alert-bottom-left"></div>
            <div class="alert-bottom-right"></div>
            <img src="images/ewm.png" alt="">
          </div>
          <div class="help-text qrcode-text success-qrcode-text">*长按二维码，关注医信云服</div>
          <div class="thanks-text">
            目前数联医信已覆盖<span class="">19</span>个省份，
          </div>
          <div class="thanks-text">
            服务<span class="">三百</span>余家客户。
          </div>
          <div class="thanks-text">
            2016感谢有您。
          </div>
          <div class="reset-share-box success-reset">
            <button class="share-btn common-btn display-middle reset-btn again_play" >重播</button>
            <button class="share-btn common-btn display-middle my-share">
              <i class="share-icon display-middle">
                <img src="images/share-icon.png" alt="">
              </i>
              <span class="display-middle ">我要分享</span>
            </button>
          </div>
          <div class="help-text qrcode-text work-email">工
            作邮箱:vip@shulianyixin.com
          </div>
          <div class="by-bottom">
            <div class="display-middle by-line"></div>
            <div class="display-middle by-text">by 数联医信</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="prompt_back" id="prompt_back">
    <div class="hint_line"></div>
    <div class="prompt-text">
      <div class="display-middle left-prompt">
        <div>点击右上角</div>
        <div>分享到朋友圈</div>
      </div>
      <div class="display-middle prompt-border">
        <img src="images/radius_icon.png" alt="">
      </div>
    </div>
  </div>
  <div class="apply_success" style="display: none;" id="form-page">
    <div class="back-icon" id="back-icon">
      <img src="images/back_icon.png" alt="">
    </div>
    <div class="apply_page">
      <div class="position-absolute">
        <form action="javascript:;" url="/ydh5/savetestinfo" id="apply_form">
          <div class="slyx-log">
            <img src="images/slyx_log.png" alt="">
          </div>
          <div class="apply-title">试用信息填写</div>
          <div class="input-line">
            <input type="text" name="name" placeholder="姓名" id="name" class="apply-input clearable">
          </div>
          <div class="input-line">
            <input type="text" name="hospital" placeholder="医院名称" id="hospital-name" class="apply-input clearable">
          </div>
          <div class="input-line">
            <input name="jop" type="text" placeholder="职务" id="job" class="apply-input clearable">
          </div>
          <div class="input-line">
            <input name="phone" type="text" placeholder="电话" id="phone" class="apply-input clearable">
          </div>
          <div class="submit-box">
            <button class="common-btn submit-btn">提交</button>
          </div>
          <div class="help-text">*关注公众号，即时了解云服信息</div>
        </form>
        <div class="by-bottom">
          <div class="display-middle by-line"></div>
          <div class="display-middle by-text">by 数联医信</div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <audio src="gq/1.mp3" autoplay loop id="audio">
      您的浏览器不支持 audio 标签。
    </audio>
  </div>
  <div class="music-icon start">
    <img src="images/start_music.png" alt="">
  </div>
  <div class="bottom-arrow">
    <img src="images/bottom_arrow.png" alt="">
  </div>
  <div class="parameter_error">
    <div class="table">
      <div class="table-cell">
        参数错误
      </div>
    </div>
  </div>
  <script type="text/html" id="time_axis_tpl">
    <div class="axle-content axle-content1">
      <div class="axle-time ani" swiper-animate-effect="rotateIn" swiper-animate-duration="0.2s" swiper-animate-delay="1.2s"><%- recordTime %></div>
      <div class="axle-title ani" swiper-animate-effect="lightSpeedIn" swiper-animate-duration="0.3s" swiper-animate-delay="1.4s">
        <span class="axle-bold" ><%- recordDepartment %></span>录入了第一台设备
      </div>
      <div class="axle-name ani" swiper-animate-effect="bounceInLeft" swiper-animate-duration="0.3s" swiper-animate-delay="1.6s"><%- recordEquipment %></div>
    </div>
    <div class="axle-content axle-content2">
      <div class="axle-time ani" swiper-animate-effect="rotateIn" swiper-animate-duration="0.2s" swiper-animate-delay="2.2s"><%- repairTime %></div>
      <div class="axle-title ani" swiper-animate-effect="lightSpeedIn" swiper-animate-duration="0.3s" swiper-animate-delay="2.4s">
        <span class="axle-bold"><%- repairDepartment %></span>报修了第一台设备
      </div>
      <div class="axle-name ani" swiper-animate-effect="bounceInLeft" swiper-animate-duration="0.3s" swiper-animate-delay="2.6s" ><%- recordEquipment %></div>
    </div>
    <div class="axle-content axle-content3">
      <% if(screenTime) { %>
        <div class="axle-time ani"  swiper-animate-effect="rotateIn" swiper-animate-duration="0.2s" swiper-animate-delay="3.2s"><%- screenTime %></div>
        <div class="axle-name-owl ani" swiper-animate-effect="lightSpeedIn" swiper-animate-duration="0.3s" swiper-animate-delay="3.4s">累计实时监测设备</div>
        <div class="axle-name-owl ani" swiper-animate-effect="bounceInLeft" swiper-animate-duration="0.3s" swiper-animate-delay="3.6s">状态<span class="owl-bold"><%- screenRange %></span>小时</div>
      <% } else { %>
        <div class="axle-time ani" swiper-animate-effect="rotateIn" swiper-animate-duration="0.2s" swiper-animate-delay="3.2s"><%- completeTime %></div>
        <div class="axle-title ani" swiper-animate-effect="lightSpeedIn" swiper-animate-duration="0.3s" swiper-animate-delay="3.4s">
          <span class="axle-bold"><%- completeDepartment %></span>维修完成第一台设备
        </div>
        <div class="axle-name ani" swiper-animate-effect="bounceInLeft" swiper-animate-duration="0.3s" swiper-animate-delay="3.6s"><%- completeEquipment %></div>
      <% } %>
    </div>
  </script>
  <script type="text/html" id="technical_top_tpl">
    <div class="technical-name technical-name1 ani" swiper-animate-effect="rotateIn" swiper-animate-duration="0.2s" swiper-animate-delay="2.5s"><%- repairDepartment1 %></div>
    <div class="technical-name technical-name2 ani" swiper-animate-effect="rotateIn" swiper-animate-duration="0.2s" swiper-animate-delay="2.3s"><%- repairDepartment2 %></div>
    <div class="technical-name technical-name3 ani" swiper-animate-effect="rotateIn" swiper-animate-duration="0.2s" swiper-animate-delay="2.1s"><%- repairDepartment3 %></div>
  </script>
  <script type="text/html" id="mac_text_tpl">
    <% if(screenJudge) { %>
    <div class="triunity-text ani" swiper-animate-effect="slideInRight" swiper-animate-duration="0.4s" swiper-animate-delay="1s">“三位一体”</div>
    <div class="tool-text">
      <span class="display-middle ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.2s" swiper-animate-delay="1s">手机</span>
      <span class="display-middle ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.2s" swiper-animate-delay="1.2s">+</span>
      <span class="display-middle ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.2s" swiper-animate-delay="1.4s">web</span>
      <span class="display-middle ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.2s" swiper-animate-delay="1.6s">+</span>
      <span class="display-middle ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.2s" swiper-animate-delay="1.8s">大屏</span>
    </div>
    <% } else { %>
    <div class="no-tool-text tool-text">
      <span class="display-middle ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.2s" swiper-animate-delay="1s">手机</span>
      <span class="display-middle ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.2s" swiper-animate-delay="1.2s">+</span>
      <span class="display-middle ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.2s" swiper-animate-delay="1.4s">web</span>
    </div>
    <div class="no-triunity-text triunity-text ani" swiper-animate-effect="slideInRight" swiper-animate-duration="0.4s" swiper-animate-delay="1.6s">“随时随地的设备监测和管理”</div>
    <% } %>

  </script>
  <script type="text/html" id="max_img_tpl">
    <% if(screenJudge) { %>
      <div class="mac_img yun_absolute ani" swiper-animate-effect="zoomIn" swiper-animate-duration="0.3s" swiper-animate-delay="2.6s"></div>
    <% } else { %>
      <div class="yun_absolute no_mac_img ani" swiper-animate-effect="zoomIn" swiper-animate-duration="0.3s" swiper-animate-delay="2.6s"></div>
      <div class="yun_absolute no_mac_text ani" swiper-animate-effect="zoomIn" swiper-animate-duration="0.3s" swiper-animate-delay="2.8s"></div>
    <% } %>
  </script>
  <script type="text/html" id="bottom_triunity_tpl">
    <% if(screenJudge) { %>
    <div class="realize-text ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="2.8s">您已实现医疗设备</div>
    <div class="manage-text ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="3.2s">“全面立体，实时监测”管理</div>
    <% } else { %>
    <div class="realize-text ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="2.8s">立刻与MEMS申请数字大屏</div>
    <div class="manage-text no-manage-text ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.2s" swiper-animate-delay="3s">
      即可实现<span class="font-manage ani" swiper-animate-effect="rubberBand" swiper-animate-duration="0.2s" swiper-animate-delay="3.2s">“三位一体”</span>设备全息立体管理。
    </div>
    <% } %>

  </script>
  <script type="text/html" id="device_line_tpl">
    <div class="device-section-line">
      <div class="radius1 ani" swiper-animate-effect="rotateIn" swiper-animate-duration="0.3s" swiper-animate-delay="0.2s">
        <img src="images/radius1.png" alt="">
      </div>
      <div class="device-section-content display-middle ani" swiper-animate-effect="flipInX" swiper-animate-duration="0.2s" swiper-animate-delay="1s"><%- useEquipment1 %></div>
      <div class="device-section-content display-middle right ani" swiper-animate-effect="flipInX" swiper-animate-duration="0.2s" swiper-animate-delay="2s"><%- repairDepartment1 %></div>
    </div>
    <div class="device-section-line section-line-color">
      <div class="radius1 ani" swiper-animate-effect="rotateIn" swiper-animate-duration="0.3s" swiper-animate-delay="0.2s">
        <img src="images/radius2.png" alt="">
      </div>
      <div class="device-section-content display-middle ani" swiper-animate-effect="flipInX" swiper-animate-duration="0.2s" swiper-animate-delay="1.2s"><%- useEquipment2 %></div>
      <div class="device-section-content display-middle right ani" swiper-animate-effect="flipInX" swiper-animate-duration="0.2s" swiper-animate-delay="2.2s"><%- repairDepartment2 %></div>
    </div>
    <div class="device-section-line section-line-color">
      <div class="radius1 ani" swiper-animate-effect="rotateIn" swiper-animate-duration="0.3s" swiper-animate-delay="0.2s">
        <img src="images/radius3.png" alt="">
      </div>
      <div class="device-section-content display-middle ani" swiper-animate-effect="flipInX" swiper-animate-duration="0.2s" swiper-animate-delay="1.4s"><%- useEquipment3 %></div>
      <div class="device-section-content display-middle right ani" swiper-animate-effect="flipInX" swiper-animate-duration="0.2s" swiper-animate-delay="2.4s"><%- repairDepartment3 %></div>
    </div>
  </script>
  <script type="text/html" id="diary_text_tpl">
    <div class="left-content">
      <div class="year-box ani" swiper-animate-effect="rotateInDownLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s"><%- mostRepairDate %></div>
      <div class="border-line ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.2s" swiper-animate-delay="1s"></div>
      <div class="diary-text ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="1.2s">这一天是医工最忙碌的一天</div>
      <div class="diary-text ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="1.7s">
        全天累计接修<span class="bold-text"><%- mostRepairFrequency %></span>次
      </div>
      <div class="border-line ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.2s" swiper-animate-delay="2.2s"></div>
    </div>
    <div class="right-content">
      <div class="year-box ani" swiper-animate-effect="rotateInDownRight" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s"><%- earliestRepairDate %></div>
      <div class="time-box ani" swiper-animate-effect="flipInX" swiper-animate-duration="0.2s" swiper-animate-delay="0.8s"><%- earliestRepairTime %></div>
      <div class="border-line ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.2s" swiper-animate-delay="1s"></div>
      <div class="diary-text ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.5s" swiper-animate-delay="1.2s">
        一天中最早的接修是<span class="bold-text"><%- earliestRepairFix %></span>医工完成
      </div>
      <div class="diary-text ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.5s" swiper-animate-delay="1.7s">
        接修设备<span class="bold-text"><%- earliestRepairEquipment %></span>
      </div>
      <div class="border-line ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.2s" swiper-animate-delay="2.2s"></div>
    </div>
    <div class="left-content">
      <div class="year-box ani" swiper-animate-effect="rotateInDownLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s"><%- latestRepairDate %></div>
      <div class="time-box ani" swiper-animate-effect="flipInX" swiper-animate-duration="0.2s" swiper-animate-delay="0.8s"><%- latestRepairTime %></div>
      <div class="border-line ani" swiper-animate-effect="fadeIn" swiper-animate-duration="2s" swiper-animate-delay="1s"></div>
      <div class="diary-text ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="1.2s">
        一天中最晚的接修是<span class="bold-text"><%- latestRepairFix %></span>医工完成
      </div>
      <div class="diary-text ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="1.7s">
        接修设备<span class="bold-text"><%- latestRepairEquipment %></span>
      </div>
      <div class="border-line ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.2s" swiper-animate-delay="2.2s"></div>
    </div>
    <div class="right-content">
      <div class="year-box ani" swiper-animate-effect="rotateInDownRight" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s"><%- longestRepairDate %></div>
      <div class="border-line ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.2s" swiper-animate-delay="1s"></div>
      <div class="diary-text ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.5s" swiper-animate-delay="1.2s"><span class="bold-text"><%- longestRepairFix %></span>创下一天内医工奔波最久时长</div>
      <div class="diary-text ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.5s" swiper-animate-delay="1.7s">
        当天工作时长超过<span class="bold-text"><%- longestRepairRange %></span>小时
      </div>
      <div class="border-line ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.2s" swiper-animate-delay="2.2s"></div>
    </div>
  </script>
  <script type="text/html" id="worker_line_tpl">
    <% _.each(worker_json, function(val, index){ %>
      <div class="worker-line <% if(index % 2 === 1){ %>odd-line<% } %>">
        <div class="ani worker-img display-middle worker-img<%- val.prize_index %>" swiper-animate-effect="zoomIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s"></div>
        <div class="worker-con">
          <div class="worker-title ani " swiper-animate-effect="<% if(index % 2 === 1){ %>bounceInLeft<% }else{ %>bounceInRight<% } %>" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">
            <span class="arrow">
              <img src="images/worker_arrow.png" alt="">
            </span>
            <span class=""><%- val.prize %></span>
          </div>
          <div class="worker-name ani" swiper-animate-effect="flipInX" swiper-animate-duration="0.5s" swiper-animate-delay="1s"><%- val.fix %></div>
          <div class="worker-describe ani" swiper-animate-effect="<% if(index % 2 === 1){ %>fadeInLeft<% }else{ %>fadeInRight<% } %>" swiper-animate-duration="1.5s" swiper-animate-delay="1s"><%- val.description %></div>
        </div>
      </div>
    <% }) %>
  </script>
  <script type="text/javascript" src="jslib/jquery.min.js"></script>
  <script type="text/javascript" src="jslib/swiper.min.js"></script>
  <script type="text/javascript" src="jslib/underscore.js"></script>
  <script type="text/javascript" src="jslib/swiper.animate1.0.2.min.js"></script>
  <script type="text/javascript" src="journal_js/common.js"></script>
  <script type="text/javascript" src="journal_js/index.js"></script>
</body>
</html>